:root {
    --primary: #c72727;
    --secondary: #f99500;
    --light: #f3f3f3;
    --dark: #333;
    --max-width: 1100px;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Inria Serif', serif;
    line-height: 1.5;
    background: var(--light-color);
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Tomorrow', sans-serif;
    text-transform: uppercase;
  }
  p {
    margin: .5rem 0;
  }
  a {
    color: #333;
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
  .logo {
    width: 180px;
}
