.container {
    max-width: var(--max-width);
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
  }
  nav {
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  footer {
    background: var(--dark);
    color: #fff;  
  }
  .articlesContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
  .articlesContainer > *:first-child,
  .articlesContainer > *:last-child
  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    align-items: center;
    grid-column: 1 / span 2;
  }
  .articlesContainer > *:last-child {
    grid-column: 2 / span 2; 
  }
  .pageContainer {
    display: grid;
    grid-template-columns: 5fr 2fr;
    margin: 2rem 0;
    grid-gap: 1.5rem;
  }
  .flexContainer {
      display: flex;
  }
 
  
  
  